<div class="p-component">
  <p-toolbar>
    <div class="p-toolbar-group-start flex flex-row row-gap-3">
        <p-button icon="pi pi-plus" class="mr-2"/>
        <p-button icon="pi pi-print" class="mr-2"/>
        <p-button icon="pi pi-upload" />
    </div>
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span>
    </div>
    <div class="p-toolbar-group-end">
        <p-button ariaLabel="toggle dark mode" [icon]="isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'" (onClick)="toggleDarkMode()" />
    </div>
</p-toolbar>
<router-outlet class="p-fluid"></router-outlet>
</div>